<div class="container">

  <h3>Buscar Por: </h3>

  <input type="text" class="form-control" [(ngModel)]="titulo" placeholder="Titulo">
  <input type="text" class="form-control" [(ngModel)]="descrip" placeholder="Descripcion">
  <input type="text" class="form-control" [(ngModel)]="num" placeholder="Numero">

  <h3>Resultado:</h3>

  <table class="table table-hover table-dark justify-content-center">
    <thead>
      <tr>
        <th width="10">#</th>
        <th width="30">Titulo</th>
        <th width="30">Descripcion</th>
        <th width="30">Numero</th>
      </tr>
    </thead>
    <tbody>

      <tr *ngFor="let palabra of json | filter:titulo:descrip:num">
        <td>{{palabra.id}}</td>
        <td>{{palabra.titulo}}</td>
        <td>{{palabra.descrip}}</td>
        <td>{{palabra.num}}</td>
      </tr>

    </tbody>

  </table>

</div>